h1{text-align: center;
  font-family: "Roboto" ,sans-serif;
  color: red;
  background-color:black;
  margin-left: 300px;
  margin-right: 300px;

}



#game-wrapper{

}


body {
  background-image:url("./images/Wallpaper.jpg");
  background-size: 120%;
}


td {
background-color: #000000;
padding: 1px;
border-top:1px solid #000000;}


#tile1{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile1:hover{
  background-image: url("images/tile%201.png");
}

#tile2{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile2:hover{
  background-image: url("images/tile%202.png");
}

#tile3{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile3:hover{
  background-image: url("images/tile%203.png");
}


#tile4{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile4:hover{
  background-image: url("images/tile%205.png");
}

#tile5{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile5:hover{
  background-image: url("images/tile%201.png");
}

#tile6{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile6:hover{
  background-image: url("images/tile%207.png");
}

#tile7{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile7:hover{
  background-image: url("images/tile%207.png");
}

#tile8{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile8:hover{
  background-image: url("images/tile%204.png");

}

#tile9{
  background-image: url("images/Hover.jpg");
  height:240px;
  width:240px;
  background-size: cover;
}

#tile9:hover{
  background-image: url("images/tile%202.png");
  width:240px;
  height:240px;
  background-size: cover;
}


#Form{
  align-self: center;
  align-content: center;
  align-items: center;
  padding:20px;
  padding-left:20px;
  padding-right: 20px;
  border:10px;
  border: 10px solid #000000;
  background-image: url("images/mischief.png");
  margin: auto;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  margin-bottom: auto;
  color:white;
}
